<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
 
<suite name="All tests">
  <test name="Utility tests">
    <packages>
      <package name="util"/>
    </packages>
  </test>

  <test name="Soot utilities">
    <packages>
      <package name="util.soot"/>
    </packages>
  </test>

  <test name="Lazy evaluation">
    <packages>
      <package name="util.lazy"/>
    </packages>
  </test>

  <test name="Pure functional data structures">
    <packages>
      <package name="util.purefun"/>
    </packages>
  </test>

  <test name="LL(1) parser">
    <packages>
      <package name="util.parser"/>
    </packages>
  </test>
</suite>
